.animated-bars .bar {
    transform-origin: center bottom;
    /*Establecerelpuntodeanimaciónenlabasedecadabarra*/animation: bounce 1.2s infinite ease-in-out;
    -webkit-animation: bounce 1.2s infinite ease-in;
}

/* Animar cada barra con diferentes retrasos */
.animated-bars .bar-1 {
    animation-delay: 0s;
}

.animated-bars .bar-2 {
    animation-delay: 0.2s;
}

.animated-bars .bar-3 {
    animation-delay: 0.4s;
}

.animated-bars .bar-4 {
    animation-delay: 0.6s;
}

/* Keyframes para el efecto de subir y bajar */
@keyframes bounce {

    0%,
    100% {
        transform: scaleY(1);
        /* Tamaño normal */
    }

    50% {
        transform: scaleY(0.4);
        /* Reducir altura */
    }
}