---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<li>
  <a
    href={href}
    class="flex player:flex-row flex-col player:gap-4 gap-2 text-zinc-400 hover:text-zinc-100 items-center player:py-3 sm:min-w-auto min-w-24 player:px-5 font-medium transition mb:px-6"
  >
    <slot /></a
  >
</li>
