---
import Home from "@/icons/Home.astro";
import Library from "@/icons/Library.astro";
import Search from "@/icons/Search.astro";
import { PlaylistItemCard } from "./PlaylistItemCard";

import SideMenuItem from "./SideMenuItem.astro";

import { playlists } from "@/lib/data";
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="player:bg-zinc-900 bg-opacity-0 rounded-lg p-2 hidden-span">
    <ul
      class="flex player:flex-col justify-between player:place-items-start items-center sm:px-10"
    >
      <SideMenuItem href="/">
        <Home />
        <span class="player:font-semibold font-light">Inicio</span>
      </SideMenuItem>
      <SideMenuItem href="#">
        <Search />
        <span class="player:font-semibold font-light">Buscar</span>
      </SideMenuItem>
      <div class="player:hidden inline">
        <SideMenuItem href="#">
          <Library />
          <span class="player:font-semibold font-light mb:text-sm"
            >Tu Biblioteca</span
          >
        </SideMenuItem>
      </div>
    </ul>
  </div>
  <div class="bg-zinc-900 player:inline hidden rounded-lg p-2 flex-1">
    <ul>
      <SideMenuItem href="#">
        <Library />
        <span>Tu Biblioteca</span>
      </SideMenuItem>
      {
        playlists.map((playlist) => (
          <PlaylistItemCard client:load playlist={playlist} />
        ))
      }
    </ul>
  </div>
</nav>

<style is:global>
  .after-img {
    @apply after:absolute after:bg-black/40 after:opacity-0 after:z-0 after:group-hover:opacity-100 after:transition duration-300 after:block after:rounded-md after:inset-2 after:w-12 after:h-12;
  }
</style>
