---
import { TimeIcon } from "@/icons/MusicsTableIcons";
import { type Song } from "@/lib/data";
import { usePlayerStore } from "@/store/playerStore";
import { MusicsTableContent } from "./react/MusicsTable";

interface Props {
  songs: Song[];
}

const { songs } = Astro.props;
---

<table class="table-auto text-left min-w-full divide-y divide-gray-500/30">
  <thead class="">
    <tr class="text-gray-300 text-base">
      <th class="px-4 py-2 font-light">#</th>
      <th class="px-4 py-2 font-light">Título</th>
      <th id="album-th" class="album-i px-4 py-2 font-light">Álbum</th>
      <th class="px-4 py-2 font-light"> <TimeIcon /> </th>
    </tr>
  </thead>

  <tr class="h-[16px]"></tr>
  {
    songs.map((song, index) => (
      <MusicsTableContent client:load song={song} index={index} />
    ))
  }
</table>
