---
import LeftRow from "@/icons/LeftRow.astro";

interface Props {
  aHref?: string;
}

const { aHref } = Astro.props;
---

<a
  id="Back-to-home-Button"
  href={aHref ?? "/"}
  class="text-zinc-200 group group-hover:text-zinc-400 inline player:hidden"
>
  <LeftRow />
  <span
    class="absolute left-1 top-12 w-max px-2 py-1 bg-zinc-800/80 text-white text-xs rounded opacity-0 transition-opacity duration-300 group-hover:opacity-100"
  >
    Back to home
  </span>
</a>

<style>
  #Back-to-home-Button:hover {
    &span {
      opacity: 1;
    }
  }
</style>
